# Welcome to Jupyter!

# Step 1: Representing Records
    Using Lists.

In [1]:
bob = ['Bob Smith',42,30000,'Software']

In [2]:
sue = ['Sue Jones',45,40000,'hardware']

In [3]:
bob[0],sue[2]

('Bob Smith', 40000)

In [4]:
if (bob[0]=='Bob Smith'):
    print('You are a smart guy')

You are a smart guy

In [5]:
if (bob[0]=='Bob Smith'and bob[1]==42):
    print('You are brilliant')

You are brilliant

In [6]:
if (bob[0]=='Bob Smith'and bob[1]==42 and bob[-1]=='Software'):
    print('Damn it. Your IQ exceeds expectations')

Damn it. Your IQ exceeds expectations

In [7]:
bob[0].split()[-1]

'Smith'

In [8]:
bob[-1].split()[-1]

'Software'

In [9]:
sue[2]*=1.25

In [10]:
sue

['Sue Jones', 45, 50000.0, 'hardware']

In [11]:
sue[0]*=4

In [12]:
sue

['Sue JonesSue JonesSue JonesSue Jones', 45, 50000.0, 'hardware']

# sue[-1]*=1.5

In [13]:
if (sue[0].split()[-1]=='Jones' and sue[0].split()[-2]=='JonesSue'):
    print('You are right')

You are right

# A database list

In [14]:
people = [bob,sue]

In [15]:
for guys in people:
    print(guys)

['Bob Smith', 42, 30000, 'Software']
['Sue JonesSue JonesSue JonesSue Jones', 45, 50000.0, 'hardware']

In [16]:
bob[0]*=4

In [17]:
for guys in people:
    print(guys)

['Bob SmithBob SmithBob SmithBob Smith', 42, 30000, 'Software']
['Sue JonesSue JonesSue JonesSue Jones', 45, 50000.0, 'hardware']

In [18]:
people

[['Bob SmithBob SmithBob SmithBob Smith', 42, 30000, 'Software'],
 ['Sue JonesSue JonesSue JonesSue Jones', 45, 50000.0, 'hardware']]

In [19]:
bob[0].split()

['Bob', 'SmithBob', 'SmithBob', 'SmithBob', 'Smith']

In [20]:
for names in bob[0].split():
    print(names)

Bob
SmithBob
SmithBob
SmithBob
Smith

In [21]:
people[1][0]

'Sue JonesSue JonesSue JonesSue Jones'

In [22]:
names

'Smith'

In [23]:
guys

['Sue JonesSue JonesSue JonesSue Jones', 45, 50000.0, 'hardware']

Acutally, the last element in the database list has been assigned to each components in 'for' sentence.

In [24]:
for person in people:
    print(person[0].split()[-1])
    person[2]*=1.20
    print(person[2])

Smith
36000.0
Jones
60000.0

In [25]:
for person in people: print(person[2])

36000.0
60000.0

person[2] for person in people  SyntaxError: invalid syntax

In [26]:
[person[2] for person in people]

[36000.0, 60000.0]

In [27]:
pay = ()

In [28]:
pay

()

In [29]:
pay = [person[2] for person in people]

In [30]:
pay

[36000.0, 60000.0]

In [31]:
pays = map((lambda x: x[2]),people)

In [32]:
pays

In [33]:
list(pays)

[36000.0, 60000.0]

pays1 = map((x[0]: x[2]),people) SyntaxError: invalid syntax

In [34]:
map?

In [35]:
sum(person[2] for person in people)

96000.0

In [36]:
people.append(['Tom',50,90000, 'Interpersonal skills'])

In [37]:
people

[['Bob SmithBob SmithBob SmithBob Smith', 42, 36000.0, 'Software'],
 ['Sue JonesSue JonesSue JonesSue Jones', 45, 60000.0, 'hardware'],
 ['Tom', 50, 90000, 'Interpersonal skills']]

In [38]:
people[2][0]*=4

In [39]:
people

[['Bob SmithBob SmithBob SmithBob Smith', 42, 36000.0, 'Software'],
 ['Sue JonesSue JonesSue JonesSue Jones', 45, 60000.0, 'hardware'],
 ['TomTomTomTom', 50, 90000, 'Interpersonal skills']]

In [40]:
people[2][0]*=3

In [41]:
people

[['Bob SmithBob SmithBob SmithBob Smith', 42, 36000.0, 'Software'],
 ['Sue JonesSue JonesSue JonesSue Jones', 45, 60000.0, 'hardware'],
 ['TomTomTomTomTomTomTomTomTomTomTomTom', 50, 90000, 'Interpersonal skills']]

Two drawbacks, A: Memory will disappear once we exit python; B: Repeat the kinds of code typed.

# Field labels

In [42]:
Name,Age,Pay = range(3)

In [43]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [44]:
range(3)

range(0, 3)

In [45]:
range?

In [46]:
range(4,20)

range(4, 20)

In [47]:
for i in range(4,20):
    print(i)

4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [48]:
range(4,20,1)

range(4, 20)

In [49]:
for i in range(4,20,4):
    print(i)

4
8
12
16

In [50]:
for i in range(4,20,3):
    print(i)

4
7
10
13
16
19

In [51]:
name,age,pay = range(3)

In [52]:
Richard =['Richard Porter',43,100000]

In [53]:
Richard[name]

'Richard Porter'

In [54]:
pay,Richard[pay]

(2, 100000)

Address readability.

In [55]:
pay

2

Lists of tuples, where the tuples record both a feild name and a value.

In [56]:
bob = [['name','Bob Smith'],['age',42],['pay',10000]]

In [57]:
sue = [['name','Sue Jones'],['age',45],['pay',20000]]

In [58]:
people = [bob,sue]

In [59]:
people

[[['name', 'Bob Smith'], ['age', 42], ['pay', 10000]],
 [['name', 'Sue Jones'], ['age', 45], ['pay', 20000]]]

In [60]:
for i in people:
    print(i)

[['name', 'Bob Smith'], ['age', 42], ['pay', 10000]]
[['name', 'Sue Jones'], ['age', 45], ['pay', 20000]]

In [61]:
for i in people:
    print(i[0])

['name', 'Bob Smith']
['name', 'Sue Jones']

In [62]:
for i in people:
    for j in i:
        print(j)

['name', 'Bob Smith']
['age', 42]
['pay', 10000]
['name', 'Sue Jones']
['age', 45]
['pay', 20000]

In [63]:
for person in people:
    print(person[0][1],person[2][1])

Bob Smith 10000
Sue Jones 20000

In [64]:
people

[[['name', 'Bob Smith'], ['age', 42], ['pay', 10000]],
 [['name', 'Sue Jones'], ['age', 45], ['pay', 20000]]]

In [65]:
[person[0][1] for person in people]

['Bob Smith', 'Sue Jones']

In [66]:
for person in people:
    print(person[0][1].split()[-1])
    person[2][1]*=1.10
    print(person[2])

Smith
['pay', 11000.0]
Jones
['pay', 22000.0]

In [67]:
for person in people:
    for (name,value) in person:
        if name == 'name': print(value)

Bob Smith
Sue Jones

In [68]:
for person in people:
    print(person)

[['name', 'Bob Smith'], ['age', 42], ['pay', 11000.0]]
[['name', 'Sue Jones'], ['age', 45], ['pay', 22000.0]]

In [69]:
for person in people:
    for (name,value) in person:
        if name == 'age': print(value)

42
45

In [70]:
for person in people:
    for (name,value) in person:
        if value == 'Bob Smith': print(person[1],person[2])

['age', 42] ['pay', 11000.0]

In [71]:
def field(record,label):
    for (fname,fvalue) in record:
        if fname == label:
            return fvalue

In [72]:
field(bob,'name')

'Bob Smith'

In [73]:
bob

[['name', 'Bob Smith'], ['age', 42], ['pay', 11000.0]]

for (fname,fvalue) in bob:
    if fname == 'name':
        return fvalue  SyntaxError: 'return' outside function

In [74]:
for (fname,fvalue) in bob:
    if fname == 'name':
        print(fvalue)

Bob Smith

In [75]:
field(sue,'pay')

22000.0

In [76]:
for rec in people:
    print(field(rec,'name'))

Bob Smith
Sue Jones

# Using Dictionaries

In [77]:
bob = {'name': 'Bob Smith','age':42,'pay':30000,'job':'dev'}

In [78]:
sue = {'name':'Sue Jones','age':45,'pay':40000,'job':'hdw'}

In [79]:
bob['name']

'Bob Smith'

Rek = {name: Richar Porter,age:42} SyntaxError: invalid syntax

In [80]:
bob['name'],sue['pay']

('Bob Smith', 40000)

In [81]:
bob['name'].split()[-1]

'Smith'

In [82]:
sue['pay']*=1.10

In [83]:
sue['pay']

44000.0

# Other ways to make dictionaries

In [84]:
bob = dict(name='Bob Smith',age=42,pay=30000,job='dev')

In [85]:
sue = dict(name='Sue Jones',age=45,pay=40000,job='hdw')

In [86]:
bob,sue

({'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'},
 {'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'})

In [87]:
rek = {}

In [88]:
rek['name']='Richard Porter'

In [89]:
rek['age']=45

In [90]:
rek['pay']=45000

In [91]:
rek['job']='kp'

In [92]:
rek

{'name': 'Richard Porter', 'age': 45, 'pay': 45000, 'job': 'kp'}

In [93]:
zip?

In [94]:
names = ['name','age','pay','job']

In [95]:
values = ['Sue Jones',45,40000,'hdw']

In [96]:
zip(names,values)

In [97]:
list(zip(names,values))

[('name', 'Sue Jones'), ('age', 45), ('pay', 40000), ('job', 'hdw')]

In [98]:
sue = dict(zip(names,values))

In [99]:
sue

{'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'}

In [100]:
fields = ('name','age','job','pay')

In [101]:
record = dict.fromkeys(fields,'?')

In [102]:
record

{'name': '?', 'age': '?', 'job': '?', 'pay': '?'}

In [103]:
fromkeys?

Object `fromkeys` not found.

In [104]:
dict?

Don't know what does 'fromkeys' mean?

# Lists of dictionaries

In [105]:
bob

{'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'}

In [106]:
sue

{'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'}

In [107]:
people = [bob, sue]

In [108]:
for person in people:
    print(person['name'],person['pay'],sep=';')

Bob Smith;30000
Sue Jones;40000

In [109]:
for person in people:
    print(person['name'],person['age'],person['pay'],person['job'],sep=', ')

Bob Smith, 42, 30000, dev
Sue Jones, 45, 40000, hdw

In [110]:
for person in people:
    if person['name']=='Sue Jones':
        print(person['pay'])

40000

In [111]:
names = [person['name'] for person in people]

In [112]:
names

['Bob Smith', 'Sue Jones']

In [113]:
map((lambda x: x['name']),people)

In [114]:
list(map((lambda x: x['name']),people))

['Bob Smith', 'Sue Jones']

In [115]:
sum(person['pay'] for person in people)

70000

In [116]:
[rec['name'] for rec in people if rec['age']>=45]

['Sue Jones']

In [117]:
[rec['name'] for rec in people if rec['age']>=20]

['Bob Smith', 'Sue Jones']

In [118]:
[rec['age'] for rec in people if rec['age']>=45]

[45]

In [119]:
45*45

2025

In [120]:
[(rec['age']**2 if rec['age']>=45 else rec['age']) for rec in people]

[42, 2025]

In [121]:
G = (rec['name'] for rec in people if rec['age']>=45)

In [122]:
next(G)

'Sue Jones'

In [123]:
people

[{'name': 'Bob Smith', 'age': 42, 'pay': 30000, 'job': 'dev'},
 {'name': 'Sue Jones', 'age': 45, 'pay': 40000, 'job': 'hdw'}]

In [124]:
next?

In [125]:
list(G)

[]

In [126]:
G

In [128]:
G = ((rec['age']**2 if rec['age']>=45 else rec['age']) for rec in people)

In [129]:
G.__next__()

42

Double '_' for

In [130]:
next(G)

2025

In [131]:
for person in people:
    print(person['name'].split()[-1])
    person['pay']*=1.10
    print(person['pay'])

Smith
33000.0
Jones
44000.0

In [132]:
for person in people: print(person['pay'])

33000.0
44000.0

# Nested structures